<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oriental.manage.dao.institution.TransRightMapper">
	<resultMap id="BaseResultMap" type="com.oriental.manage.pojo.institution.TransRight"
			   extends="BaseMapper.BaseResultMap">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="CONN_CHANNEL" property="connChannel" jdbcType="VARCHAR" />
		<result column="TRANS_CODE" property="transCode" jdbcType="VARCHAR" />
		<result column="COMPANY_TYPE" property="companyType" jdbcType="VARCHAR" />
		<result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
		<result column="ACQ_ORG_CODE" property="acqOrgCode" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="CLOSE_DATE" property="closeDate" jdbcType="TIMESTAMP" />
		<result column="RIGHT_STATUS" property="rightStatus" jdbcType="VARCHAR" />
		<result column="REVERSE_FLAG" property="reverseFlag" jdbcType="VARCHAR" />
		<result column="SPLIT_RIGHT_FLAG" property="splitRightFlag" jdbcType="VARCHAR" />
		<result column="REFUND_FLAG" property="refundFlag" jdbcType="VARCHAR" />
		<result column="TEMPLATE_NO" property="templateNo" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="LAST_UPD_TIME" property="lastUpdTime" jdbcType="TIMESTAMP" />
        <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
        <result column="MODIFY_USER" property="modifyUser" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CONN_CHANNEL, TRANS_CODE, COMPANY_TYPE,
		COMPANY_CODE, CREATE_DATE,ACQ_ORG_CODE,REVERSE_FLAG,
		CLOSE_DATE, RIGHT_STATUS, REFUND_FLAG,SPLIT_RIGHT_FLAG,
		CREATE_TIME, LAST_UPD_TIME,TEMPLATE_NO,CREATOR,MODIFY_USER
	</sql>
    <sql id="queryCondition">
        <if test="transCode != null and transCode != ''">
            AND TR.TRANS_CODE = #{transCode}
        </if>
        <if test="connChannel != null and connChannel != ''">
            AND TR.CONN_CHANNEL = #{connChannel}
        </if>
        <if test="companyType != null and companyType != ''">
            AND TR.COMPANY_TYPE = #{companyType}
        </if>
        <if test="reverseFlag != null and reverseFlag != ''">
            AND TR.REVERSE_FLAG = #{reverseFlag}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND TR.COMPANY_CODE = #{companyCode}
        </if>
        <if test="splitRightFlag != null and splitRightFlag != ''">
            AND TR.SPLIT_RIGHT_FLAG = #{splitRightFlag}
        </if>
    </sql>

	<select id="getAll" resultMap="BaseResultMap"
		parameterType="com.oriental.manage.pojo.institution.TransRight">
		<include refid="BaseMapper.pageHead"/>
		SELECT <include refid="Base_Column_List" />
		FROM T_TRANS_RIGHT TR
		WHERE TR.RIGHT_STATUS = '1'
		<include refid="queryCondition"/>
		ORDER BY TR.COMPANY_TYPE,
		TR.COMPANY_CODE,
		TR.CONN_CHANNEL,
		TR.TRANS_CODE,
		TR.RIGHT_STATUS,
		TR.REFUND_FLAG
		<include refid="BaseMapper.pageFoot"/>
	</select>

	<select id="queryOne" resultMap="BaseResultMap"
			parameterType="com.oriental.manage.pojo.institution.TransRight">
		SELECT <include refid="Base_Column_List" />
		FROM T_TRANS_RIGHT TR
		WHERE TR.RIGHT_STATUS = '1'
		<include refid="queryCondition"/>
	</select>

</mapper>